div {
  min-height: calc(100vh - 64px);
  background-image: url('/assets/PageNotFound.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

p{
  padding-top: 10%;
  font-size: 36px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
