md-card {
  height: 100%;
}

md-card-content {
  height: 300px;
  width: 300px;
}

img {
  max-height: 300px;
  max-width: 300px;
}

.mat-card-header .mat-card-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.mat-card-header .mat-card-subtitle {
  font-size: 14px;
  line-height: 24px;
}

md-card-footer{
  padding: 10px;
}

button {
  font-weight: 400;
  font-size: 14px;
  font-variant: small-caps;
}
