<md-toolbar color="primary" md-dialog-title>
  <h2 fxFlex>{{title}}</h2>
  <button #closeButton md-icon-button md-dialog-close>
    <md-icon>close</md-icon>
  </button>
</md-toolbar>

<div md-dialog-content>
  <ng-content select=".dialog-content"></ng-content>
</div>

<md-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
  <md-error *ngIf="error" fxFlex>{{error}}</md-error>
  <md-progress-bar *ngIf="progress > 0" mode="determinate" [value]="progress" fxFlex></md-progress-bar>
  <button md-button md-dialog-close>Cancel</button>
  <ng-content select=".dialog-footer"></ng-content>
</md-dialog-actions>
